In [1]:
import pandas as pd
import sqlite3

# I. Preprocessing

## i. Database Connection

In [2]:
# Establish database connection and check table name
conn = sqlite3.connect('temp/race.db')
curs = conn.cursor()
table_name = curs.execute('SELECT name FROM sqlite_master WHERE type="table"').fetchall()
print(table_name)

[('race_record',), ('horse_record',), ('individual_record',), ('trainer_profile',), ('jockey_profile',)]

In [3]:
# Select from race record and convert to pandas dataframe
race_data = curs.execute('SELECT * FROM race_record').fetchall()
race_column = [element[1] for element in curs.execute('PRAGMA table_info(race_record)').fetchall()]
race_df = pd.DataFrame(race_data, columns=race_column)

# TODO: Select from other record table as well

## ii. Integrity Check

In [4]:
# Snapshot of tha race_record dataframe
race_df.describe().T

                     count unique              top    freq
run_date            293066    714       2002-12-21     547
place               293066     10               中山   42619
race                293066     12               3R   27569
title               293066   1650            3歳未勝利   68245
type                293066      3                ダ  142643
track               293066      4                右  192299
distance            293066     67            1200m   69404
weather             293066      6                晴  174411
condition           293066      4                良  230389
time                293066     85            12:50    8602
finishing_position  293066     40                1   21089
bracket             293066      8                8   42821
horse_number        293066     18                3   21066
horse               293066  33620        ハートランドヒリュ     100
sex_age             293066     33               牡3   68057
jockey_weight       293066     29               55   66831
jockey              293066    599             中舘英二    5248
run_time            293066   2789              ---    1211
margin              293066   1096               クビ   47927
corner_position     293066  11598               **   22265
run_time_last_600   293066   5288             37.0    4860
win_odds            293066   6476             null    1211
win_fav             293066   4210                1   19385
horse_weight        293066   4117             null    2715
trainer             293066   2750             null    2764
breeder             293066   3466  サラブレッドクラブ・ラフィアン    6246
prize               293066   3718                -  170551

In [5]:
# Ensure that (almost) all races on the same day at the same place have a count of 12
race_count = curs.execute('SELECT DISTINCT run_date, place, race from race_record').fetchall()
race_count_df = pd.DataFrame(race_count, columns=['run_date', 'place', 'race'])
race_count_df.groupby(['run_date', 'place']).count().sample(n=10)

                  race
run_date   place
2005-11-12 京都        6
           東京        6
2002-04-28 東京       12
2005-07-09 福島       12
2003-06-15 東京       12
2004-04-24 京都       12
2002-11-23 福島       12
2000-02-13 小倉       12
2006-05-07 新潟        6
2005-02-13 京都       12